/* Aplicar estilo por la propiedad class de la etiqueta div */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
}

/* Cuando desplace el mouse sobre el card que aumente la sombra */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(69, 27, 27, 0.2);
}

.container {
  padding: 2px 16px;
}

/* Menu vertical */
/* Aplicar estilo llamando la etiqueta ul */
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(212, 214, 216);
  position: fixed;
}

li a {
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
}

li a:hover {
  background-color: azure;
  color: cadetblue;
}

.active {
  background-color: darkgreen;
  color: azure;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#dddddddd ;
}

li {
    float: left;
    display: inline;
}

a{
    display: block;
    padding: 14px 16px;
    background-color:#dddddd ;
}
h4{
    font-size: 20vw;
}